.prev-panel {
  position: fixed;
  bottom: 30px;
  left: 20px;
}
.prev-panel__title {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  background-color: #9c27b0;
  color: white;
  border-radius: 4px 4px 0 0;
  cursor: move;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.prev-panel__actions {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.prev-panel__actions > a,
.prev-panel__actions > button {
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 10px;
  color: black;
  border: none;
  cursor: pointer;
}
.prev-panel__actions > button {
  border-left: 1px solid #e8e8e8;
}
.prev-panel__actions > a > span,
.prev-panel__actions > button > span {
  padding-left: 5px;
}
.prev-panel__actions > a:hover,
.prev-panel__actions > button:hover {
  text-decoration: none;
  color: inherit;
  background-color: #efefef;
}
